.wrapper {
  box-shadow: 0 4px 5px 0 rgb(0 0 0 / 14%), 
  0 1px 10px 0 rgb(0 0 0 / 12%), 
  0 2px 4px -1px rgb(0 0 0 / 30%);
  padding: 15px;
  border-radius: 4px;
  transition: box-shadow 200ms linear 0ms;
  text-align: start;
  position: relative;
}

.userImage {
  border-radius: 4px;
  width: 80px;
  height: 80px;
}

.userPhotoWrapper {
  display: flex;
  align-items: center;
  position: absolute; 
  top: 16px;
  right: 16px;
}

.profileLink {
  text-decoration: none;
  font-weight: 550;
  color: #000;
}

.profileLink:visited {
  color:darkblue;
  border: 0;
  outline: none;
}

.profileLink:focus {
  color:darkslategrey;
  border: 1px solid;
  outline: none;
}

.profileLink:hover {
  color:darkslategrey;
}

.profileLink:active {
  color:darkmagenta; 
  border: none;
}

.personalDesc {
  overflow: hidden;
  word-wrap: break-word;
}

.userFullName {
  width: 260px;
}

.userGender {
  width: 260px;
}

.usersContainer {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  max-width: 1100px;
  width: 90%;
  margin: auto;
}