.modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fff;
}

.edit-modal-header {
  text-align: center;
  margin-bottom: 10px;
}

.modal-title {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
}

.modal-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 10px;
}

.modal-label {
  display: flex;
  font-weight: 600;
  padding-bottom: 10px;
}

.modal-input {
  border: none;
  font-size: 16px;
  margin-left: 4px;
  width: 100%;
  outline: none;
}

.MuiSvgIcon-root.save-icon {
  width: 17px;
  height: 17px;
  margin-left: 5px;
}
